
    //基础色
    $base-white: #fff;
    $base-black: #000;
   //primary

   $primary-color: #FFE500; // 基础色 //sure
   $primary-color-dark: #fadb14; // 黄色系加深缺少样例
   $primary-color-light: #ffe066; // 基础色变浅  //sure
   $primary-color-diabled: #fff2bf; //基础色置灰的情况 // // sure hover diabled focus

   //success
   $success-color: #52cc92; // success //sure
   $success-color-dark: #00cc69; // success加深 //sure
   $success-color-light: #7ccea6; // success变浅
   $success-color-diabled: #9acdb5; //success 置灰的情况 //hover diabled focus

   //warning  黄色系
   $warning-color: #eba552; // warning  //sure
   $warning-color-dark: #FF8A00; // warning  //sure
   $warning-color-light: #e2b37c; // warning //sure
   $warning-color-diabled: #fffae6; //warning 置灰的情况 //hover diabled focus

  //warning 橙色系
  $remind-color: #f57f29; // warning  //sure
  $remind-color-dark: #ff6b00; // warning  //sure
  $remind-color-light: #eb9252; // warning //sure
  $remind-color-diabled: #fff6eb; //warning 置灰的情况 //hover diabled focus

  //error
   $error-color: #f55a29; // error  // sure
   $error-color-dark: #FF3D00; // error  sure
   $error-color-light: #eb7752; // error
   $error-color-diabled: #daa99a; //error 置灰的情况 //hover diabled focus

  //info
  $info-color: #999; // error  // sure fix me
  // $info-color-dark: #999; // error

  //文字颜色  text
  $text-color: #333; 			// 主要文字
  $text-color-dark: #555;			// 常规文字
  $text-color-disabled: #999;		// 次要文字
  $text-color-light: $base-white;			// 辅助说明 //sure

  // border 边框、分隔线颜色
    $border-color: #dadada; 			 // sure
    $border-color-dark: #efeff4;			//sure
    $border-color-disabled:  #efeff4;		 
    $border-color-light: #b9b9b9;		

  //阴影 颜色
  $shadow-color:rgb(0 0 0 / 60%); //弹框阴影颜色统一
  $shadow-color-dark: #333; // sure
  $shadow-color-light:rgb(0 0 0 / 20%);
  
  //background 
  $bg-color-light: $base-white; //sure
  $bg-color-primary: #efeff4; //sure
  $bg-color-dark: #ccc;  // sure
  $bg-color-diabled: #f9f9f9; //sure
  $bg-color-shadow: $shadow-color; //sure
  //按钮字体颜色单独处理一下
  $button-text-color:$text-color;



  
  // background-color 替换原则
  // background-color: #f7f7f7   background-color:$bg-color-primary;
  // background-color: #efeff4   background-color:$bg-color-primary;
  // background-color: #fff      background-color:$bg-color-light;
  // background-color: #ededf2   background-color:$bg-color-primary;
  // background-color: #ccc      background-color:$bg-color-dark;
  // background: #fffbf1;        background-color:$bg-color-diabled;
  

  //font color 替换原则
  //color: #888  $$   color: $text-color-disabled;
  //color: #666  $$   color: $text-color-dark;
  //color: #555  $$   color: $text-color-dark;
  //color: #999  $$   color: $text-color-disabled;
  //color: #fff  $$   color: $text-color-light;
  //color: #777  $$   color: $text-color-dark;
  //color: #333  $$   color: $text-color;
  //color: #363636      color: $text-color；
  //color: #000         color: $text-color;

  //border color 替换原则
  //border-color: #efeff4  border-color:$border-color;
  //border-color: #dadada  border-color:$border-color;
  //border-color: #bbb     border-color:$border-color;
  //border-color: #e5e5e5  border-color:$border-color;
  //border-color: #dcdfe6  border-color:$border-color;

  //shadow 替换原则
  // #333 $shadow-color-dark

  //其他
  // #ff7c30  $warning-color
  // #576b95  $primary-color-light
  // #ff8837  $warning-color
  // #f3ae2e  $warning-color
  // #ff7d00  $warning-color-dark
  // #ffe8a9  $warning-color-light
  // #f35f53  $error-color
  // #ea1818  $error-color
  // #ace7ab  $success-color
  //#ff2323   $error-color-dark
  //#ffdca9   $warning-color-light
  // rgba(0, 0, 0, 0.6)  $bg-color-shadow
  
  //#b7b5b5 

  //检查过程中发现的bug
    // 改变样式了 #ccc   border-top:1rpx solid  $border-color;
    // .dot 样式去除 没有用到
    //扣扣线  无效
    // src\pages\person\index.vue 个人信息整改
